body{
    overflow: hidden;
}
.elephant-entry, .elephant-end, .elephant-right, .elephant-left{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    width: 100vw; 
    position: absolute;
    left:0;
}

.lock{
    width: 10vw;
    position: relative;
    top: 50vh;
    left: 25vh;
}

.arrow-right, .arrow-left, .arrow-bottom{
    position: relative;
    width: 8vw;
}

.arrow-right{
    top: 50vh;
    left: 45vw;
}

.arrow-left{
    top: 50vh;
    right: 45vw;
}

.arrow-bottom{
    top: 70vh;
    right: 15vw;
}

.scroll-questions{
    width: 4vw;
    position: relative;
    top: 85vh;
    left: 40vw;
}

.scroll-notes{
    width: 4vw;
    position: relative;
    top: 70vh;
    right: 43vw;
}

.scroll{
    width: 100%;
    position: absolute;
}

.scroll-notes-text{
    position: relative;
    z-index: 3;
    left: 10vw;
    top: 10vh;
    font-size: 2rem;
    font-weight: bold;
}

.text-white{
    color:white;
}

.text-blue{
    color:blue;
}

.text-red{
    color:red;
}



.lock:hover, .arrow-right:hover, .arrow-left:hover, .arrow-bottom:hover, .scroll:hover, .scroll-questions:hover, .scroll-notes:hover{
    cursor: pointer;
}