

.introEscape{
    background-image: url("../img/start.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
}

.introText{
    position: absolute;
    margin-top: 250px;
    margin-left: 35%;
}

.btn-primary{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #06f;
    color: #fff;
    box-shadow: rgb(255 255 255 / 0%) 0 0 0 3px, rgb(0 102 255 / 0%) 0 0 0 4px;
    border-radius: 10px;
    border-color: none;
    border: none;
    font-size: 20px;
    margin-top: 50px;
}