.oplosmatrix{
    background-image: url(../img/barn.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;

}

.lock{
    width:4rem;
    height: 4rem;
    position: absolute;
    top:60vh;
    right:48vw;
}

.hintpaper{
    width:5rem;
    height:5rem;
    position: absolute;
    top:25vh;
    right:30vw;
}

.notepaper{
    width:5rem;
    height:5rem;
    position: absolute;
    top:60vh;
    left:20vw;
}