.puzzleOne{
    background-image: url("../img/zooEntranceClosed.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
}

.mapPuzzle{
    background-image: url("../img/darkWoodBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
}

.overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: black;
    color: transparent;
    opacity: 0.2;
}


.startPopUp{
    position: absolute;
    background-color: lightgoldenrodyellow;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    top: 250px;
    left: 600px;
    text-align: left !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.infoPopUp{
    position: absolute;
    background-color: lightgoldenrodyellow;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    top: 250px;
    left: 600px;
    text-align: left !important;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.headerOne{
    margin-top: -15px;
}

.intro-kaartPuzzle{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #06f;
    color: #fff;
    box-shadow: rgb(255 255 255 / 0%) 0 0 0 3px, rgb(0 102 255 / 0%) 0 0 0 4px;
    border-radius: 10px;
    border-color: none;
    border: none;
    margin-right: 20px;
    font-size: 18px;
}

.zookeeper-div2{
    display: none;
    flex-direction: row;
}

.zookeeper-img{
    bottom: 0;
    position:absolute;
    left: 200px;
}

.text-cloud{
    position: absolute;
    width: 800px;
    bottom: 350px;
    left: 300px;
}

.textCloud-innertext{
    position: absolute;
    width: 800px;
    bottom: 580px;
    left: 570px;
    width: 300px;
    text-align: left;
    font-size: 20px;
}

.button-primary{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #06f;
    color: #fff;
    box-shadow: rgb(255 255 255 / 0%) 0 0 0 3px, rgb(0 102 255 / 0%) 0 0 0 4px;
    border-radius: 10px;
    border-color: none;
    border: none;
    font-size: 20px;
    margin-left: 100px;
}

/*puzzel*/
.board{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 50px;
    width: 500px;
    margin-left: 30%;
    z-index: 1;
}

.puzzel-stukjes{
    display: flex;
    flex-direction: row;

}

#drag1, #drag2, #drag3, #drag4, #drag5{
    margin-left: -20px;
    width: 200px;
}



#div1{
    opacity: 0.4;

}

#div2{
    opacity: 0.4;
    margin-left: -278px;
}

#div3{
    opacity: 0.4;
    margin-left: -220px;
}

#div4{
    opacity: 0.4;
    margin-top: -400px;
    margin-left: -20px;
    margin-bottom: 20px;
}

#div5{
    opacity: 0.4;
    margin-top: -180px;
    margin-left: -8px;
    margin-bottom: 20px;
    margin-right: 12px;
}

#div6{

    opacity: 0.4;
    margin-top: -202px;
    margin-left: -62px;
    margin-bottom: 20px;
}

.buttonOlifanten{
    margin-top: 50px;
    display: none;
    margin-left: -50px;
}

.secondary{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #06f;
    color: #fff;
    box-shadow: rgb(255 255 255 / 0%) 0 0 0 3px, rgb(0 102 255 / 0%) 0 0 0 4px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.hintButton{
    position: absolute;
    right: 50px;
    top: 25px;
    
}

.buttonHint{
    color: white;
    width: 35px;
    height: 35px;
}
